<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About us</title>
</head>
<body>
<header>
    <h4>Frete grátis para todo o Brasil!</h4>

    <nav>
        <div>
            <a>PROMOÇÕES</a>
            <a href="clothes.html">ROUPAS</a>
            <a>ACESSÓRIOS</a>
            <a>ACESSÓRIOS P/PC</a>
            <a href="about_us.html">SOBRE NÓS</a>

            <label><input></label>

            <a>minha conta ENTRAR CADASTRAR</a>
            <a><img src="../images/heart-button.png"></a>
            <a><img src="../images/support-button.png"></a>
            <a><img src="../images/shopping-cart-button.png"></a>
        </div>
    </nav>
</header>

<main>
    <h2>Nossa Jornada</h2>
    <p>A trajetória do Gamer Universe começou com um grupo de entusiastas que acreditavam que os jogos transcendem a
        tela e se tornam um estilo de vida.
        A partir dessa crença, nasceu o Gamer Universe, uma plataforma que visa reunir todos aqueles que inspiraram o
        amor pelos jogos e criar um espaço onde a paixão pode ser expressa através de produtos únicos e cativantes.</p>

    <h2>Explorando o Universo Gamer</h2>
    <p>Na Gamer Universe, você encontrará uma constelação de produtos cuidadosamente selecionados, cada um projetado
        para encapsular a essência dos jogos.
        De roupas estilosas a inspiradores keycaps, nossa seleção diversificada permite que você mergulhe de cabeça no
        seu universo de jogos favoritos.</p>

    <h2>Nossa Missão</h2>
    <p>Nossa missão transcende a venda de produtos.
        Queremos criar uma experiência que não apenas entregue produtos, mas também conecte jogadores e entusiastas de
        jogos de todo o mundo.
        Acreditamos que o amor pelos jogos tem o poder de unir pessoas e criar uma comunidade vibrante e acolhedora.</p>

    <h2>Celebre sua Paixão</h2>
    <p>Aqui no Gamer Universe, a paixão é o nosso combustível.
        Queremos que cada item que você escolher seja mais do que apenas um produto - seja uma forma de expressar quem
        você é como jogador e como indivíduo.
        Nossa coleção é um reflexo do vasto e diversificado universo dos jogos, permitindo que você celebre sua paixão
        de maneira autônoma.</p>

    <h2>Conexão com a Comunidade</h2>
    <p>Entendemos que os jogos não se tratam apenas de jogar; eles se tratam de comunidade. Convidamos você a se juntar
        a nós nas redes sociais, onde você pode compartilhar suas experiências, descobertas e momentos inesquecíveis.
        Juntos, podemos criar uma teia de conexões que transcendem fronteiras.</p>

    <h2>Compromisso com a Excelência</h2>
    <p>Cada produto em nosso universo é escolhido com dedicação e cuidado, mantendo os mais altos padrões de qualidade.
        Trabalhamos em colaboração com parceiros que apoiaram nossa visão de oferecer produtos que trazem alegria e
        significado para os jogadores.</p>

    <h2>Entre em nosso Universo</h2>
    <p>O Gamer Universe é mais do que uma loja; é uma jornada compartilhada. Seja você um jogador ávido, um explorador
        casual de jogos ou alguém em busca do presente perfeito para um amigo gamer, saiba que você encontrou o seu lar
        no Gamer Universe.
        Junte-se a nós enquanto continuamos a explorar o vasto cosmos dos jogos e celebrar a rica cultura gamer que une
        todos nós.</p>

    <p>Equipe Gamer Universe</p>
</main>

</body>
</html>