<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Accessories for PC</title>
</head>
<body>
<header>
  <h4>Frete grátis para todo o Brasil!</h4>

  <nav>
    <div>
      <a href="index.html"><img src="../images/logo.png" alt=""></a>
      <a href="promotions.html">PROMOÇÕES</a>
      <a href="clothes.html">ROUPAS</a>
      <a href="accessories.html">ACESSÓRIOS</a>
      <a href="accessories-for-pc.html"><span class="current-page">ACESSÓRIOS P/PC</span></a>
      <a href="about_us.html">SOBRE NÓS</a>

      <label><input></label>

      <a>minha conta</a>
      <a href="/Login/templates/login.html">ENTRAR </a>
      <a href="/Login/templates/register.html">CADASTRAR</a>
      <a><img src="/Home/images/heart-button.png" alt=""></a>
      <a><img src="/Home/images/support-button.png" alt=""></a>
      <a><img src="/Home/images/shopping-cart-button.png" alt=""></a>
    </div>
  </nav>
</header>

<main>
  <div>
    <div>
      <img src="/Home/images/keycap-raze.png" alt="">
      <p>29 KEYCAPS RAZE</p>
      <p><span class="original-price">R$100,00</span></p>
      <p><span class="discount">R$85,00</span></p>
    </div>

    <div>
      <img src="/Home/images/keycap-sage.png" alt="">
      <p>29 KEYCAPS SAGE</p>
      <p><span class="price">R$100,00</span></p>

    </div>

    <div>
      <img src="/Home/images/keycap-viper.png" alt="">
      <p>29 KEYCAPS VIPER</p>
      <p><span class="price">R$100,00</span></p>
    </div>

    <div>
      <img src="/Home/images/keycap-jett.png" alt="">
      <p>29 KEYCAPS JETT</p>
      <p><span class="price">R$100,00</span></p>
    </div>

    <div>
      <img src="/Home/images/keycap-fade.png" alt="">
      <p>29 KEYCAPS FADE</p>
      <p><span class="price">R$100,00</span></p>
    </div>

    <div>
      <img src="/Home/images/keycap-killjoy.png" alt="">
      <p>29 KEYCAPS KILLJOY</p>
      <p><span class="original-price">R$100,00</span></p>
      <p><span class="discount">R$85,00</span></p>
    </div>

    <div>
      <img src="/Home/images/keycap-reyna.png" alt="">
      <p>29 KEYCAPS REYNA</p>
      <p><span class="original-price">R$100,00</span></p>
      <p><span class="discount">R$85,00</span></p>
    </div>

    <div>
      <img src="/Home/images/keycap-omen.png" alt="">
      <p>29 KEYCAPS OMEN</p>
      <p><span class="price">R$100,00</span></p>
    </div>

    <div>
      <img src="/Home/images/keycap-valorant.png" alt="">
      <p>3 KEYCAPS VALORANT</p>
      <p><span class="price">R$70,00</span></p>
    </div>

  </div>
</main>
</body>

</html>