<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Accessories</title>
  <link rel="stylesheet" href="../style/accessories.css">
</head>
<body>
<header>
  <h4>Frete grátis para todo o Brasil!</h4>


  <nav class="nav-bar">
    <div class="nav-items">

      <div class="itens-action">
        <ul class="itens1">
          <li><a href="index.html"><img src="../images/logo.png" alt=""></a></li>
          <li><a href="promotions.html">PROMOÇÕES</a></li>
          <li><a href="clothes.html">ROUPAS</a></li>
          <li><a href="accessories.html" class="current-page"
          >ACESSÓRIOS</a></li>
          <li><a href="accessories-for-pc.html">ACESSÓRIOS P/PC</a></li>
          <li><a href="about_us.html">SOBRE NÓS</a></li>
          <li><label><input></label></li>
        </ul>
        <div class="itens-direito">
          <ul class="itens2">
            <li><a><img src="../images/account-button.png"></a></li>
            <li><a ><img style="width: 40px;height: 40px;" src="../images/heart-button.png" alt=""></a></li>
            <li><a><img src="../images/support-button.png" alt=""></a></li>
            <li><a><img src="../images/shopping-cart-button.png" alt=""></a></li>
          </ul>

          <ul class="itens3">
            <li ><a style="margin-left: 15px;" >MINHA CONTA</a></li>
            <li ><a style="text-decoration: none;color: black;" href="../../Login/templates/login.html">ENTRAR/CADASTRAR</a></li>

          </ul>
        </div>

      </div>
    </div>
    </div>
  </nav>
</header>
</header>

<main>
  <div class="accessories-container">
    <div class="fundo">
      <img src="../images/anel-sage.png" alt="">
      <p>ANEL SAGE</p>
      <p><span class="price">R$50,00</span></p>
    </div>

    <div class="fundo">
      <img src="../images/brinco-sage.png" alt="">
      <p>BRINCO SAGE</p>
      <p><span class="original-price">R̶$̶3̶5̶,̶0̶0<p style="color: #FF4655;">R$25,00</p></span></p>
    </div>

    <div class="fundo">
      <img src="../images/brinco-killjoy.png" alt="">
      <p>BRINCO KILLJOY</p>
      <p><span class="price">R$35,00</span></p>
    </div>

    <div class="fundo">
      <img src="../images/brinco-raze.png" alt="">
      <p>BRINCO RAZE</p>
      <p><span class="price">R$35,00</span></p>
    </div>

    <div class="fundo">
      <img src="../images/chaveiro-cypher.png" alt="">
      <p>CHAVEIRO CYPHER</p>
      <p><span class="price">R$25,00</span></p>
    </div>

    <div class="fundo">
      <img src="../images/colar-jett.png" alt="">
      <p>COLAR JETT</p>
      <p><span class="original-price"> ̶R̶$̶5̶0̶,̶0̶0</span></p>
      <p><span class="discount" style="color: #FF4655;">R$40,00</span></p>
    </div>


  </div>

  <div class="accessories-container2">
    <div class="fundo">
      <img src="../images/colar-sage.png" alt="">
      <p>COLAR SAGE</p>
      <p><span class="price">R$50,00</span></p>
    </div>

    <div class="fundo">
      <img src="../images/chaveiro-raze.png" alt="">
      <p>CHAVEIRO RAZE</p>
      <p><span class="price">R$25,00</span></p>
    </div>
  </div>
</main>

</body>
</html>