<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Accessories</title>
    <link rel="stylesheet" href="../style/accessories.css">
</head>
<body>
<header>
  <h4>Frete grátis para todo o Brasil!</h4>

  <nav class="nav-bar">
    <div class="nav-items">
      <a href="index.html"><img src="../images/logo.png" alt=""></a>
      <a href="promotions.html">PROMOÇÕES</a>
      <a href="clothes.html">ROUPAS</a>
      <a href="accessories.html"><span class="current-page">ACESSÓRIOS</span></a>
      <a href="accessories-for-pc.html">ACESSÓRIOS P/PC</a>
      <a href="about_us.html">SOBRE NÓS</a>

      <label><input></label>

      <a>minha conta</a>
      <a href="../../Login/templates/login.html">ENTRAR </a>
      <a href="../../Login/templates/register.html">CADASTRAR</a>
      <a><img src="../images/heart-button.png" alt=""></a>
      <a><img src="../images/support-button.png" alt=""></a>
      <a><img src="../images/shopping-cart-button.png" alt=""></a>
    </div>
  </nav>
</header>

<main>
  <div class="accessories-container">
    <div class="fundo">
      <img src="../images/anel-sage.png" alt="">
      <p>ANEL SAGE</p>
      <p><span class="price">R$50,00</span></p>
    </div>

    <div class="fundo">
      <img src="../images/brinco-sage.png" alt="">
      <p>BRINCO SAGE</p>
      <p><span class="original-price">R$35,00</span></p>
      <p><span class="discount">R$25,00</span></p>
    </div>

    <div class="fundo">
      <img src="../images/brinco-killjoy.png" alt="">
      <p>BRINCO KILLJOY</p>
      <p><span class="price">R$35,00</span></p>
    </div>

    <div class="fundo">
      <img src="../images/brinco-raze.png" alt="">
      <p>BRINCO RAZE</p>
      <p><span class="price">R$35,00</span></p>
    </div>

    <div class="fundo">
      <img src="../images/chaveiro-cypher.png" alt="">
      <p>CHAVEIRO CYPHER</p>
      <p><span class="price">R$25,00</span></p>
    </div>

    <div class="fundo">
      <img src="../images/colar-jett.png" alt="">
      <p>COLAR JETT</p>
      <p><span class="original-price">R$50,00</span></p>
      <p><span class="discount">R$40,00</span></p>
    </div>

    <div class="fundo">
      <img src="../images/colar-sage.png" alt="">
      <p>COLAR SAGE</p>
      <p><span class="price">R$50,00</span></p>
    </div>

    <div class="fundo">
      <img src="../images/chaveiro-raze.png" alt="">
      <p>CHAVEIRO RAZE</p>
      <p><span class="price">R$25,00</span></p>
    </div>
  </div>
</main>

</body>
</html>