<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Accessories for PC</title>
  <link rel="stylesheet" href="../style/accessories-for-pc.css">
</head>
<body>
<header>
  <h4>Frete grátis para todo o Brasil!</h4>


  <nav class="nav-bar">
    <div class="nav-items">

      <div class="itens-action">
        <ul class="itens1">
          <li><a href="index.html"><img src="../images/logo.png" alt=""></a></li>
          <li><a href="promotions.html">PROMOÇÕES</a></li>
          <li><a href="clothes.html">ROUPAS</a></li>
          <li><a href="accessories.html">ACESSÓRIOS</a></li>
          <li><a href="accessories-for-pc.html" class="current-page"
          >ACESSÓRIOS P/PC</a></li>
          <li><a href="about_us.html" >SOBRE NÓS</a></li>
          <li><label><input></label></li>
        </ul>
        <div class="itens-direito">
          <ul class="itens2">
            <li><a><img src="../images/account-button.png"></a></li>
            <li><a ><img style="width: 40px;height: 40px;" src="../images/heart-button.png" alt=""></a></li>
            <li><a><img src="../images/support-button.png" alt=""></a></li>
            <li><a><img src="../images/shopping-cart-button.png" alt=""></a></li>
          </ul>

          <ul class="itens3">
            <li ><a style="margin-left: 15px;" >MINHA CONTA</a></li>
            <li ><a style="text-decoration: none;color: black;" href="../../Login/templates/login.html">ENTRAR/CADASTRAR</a></li>
          </ul>
        </div>


      </div>
    </div>
    </div>
  </nav>
</header>
</header>

<main>
  <div class="accessories-container">
    <div class="fundo">
      <img src="../images/keycap-raze.png" alt="">
      <p>29 KEYCAPS RAZE</p>
      <p><span class="original-price"><strike>R$100,00</strike></span></p>
      <p><span class="discount"style="color: #FF4655;">R$85,00</span></p>
    </div>

    <div class="fundo">
      <img src="../images/keycap-sage.png" alt="">
      <p>29 KEYCAPS SAGE</p>
      <p><span class="price">R$100,00</span></p>

    </div>

    <div class="fundo">
      <img src="../images/keycap-viper.png" alt="">
      <p>29 KEYCAPS VIPER</p>
      <p><span class="price">R$100,00</span></p>
    </div>

    <div class="fundo">
      <img src="../images/keycap-jett.png" alt="">
      <p>29 KEYCAPS JETT</p>
      <p><span class="price">R$100,00</span></p>
    </div>

    <div class="fundo">
      <img src="../images/keycap-fade.png" alt="">
      <p>29 KEYCAPS FADE</p>
      <p><span class="price">R$100,00</span></p>
    </div>

    <div class="fundo">
      <img src="../images/keycap-killjoy.png" alt="">
      <p>29 KEYCAPS KILLJOY</p>
      <p><span class="original-price"><strike>R$100,00</strike></span></p>
      <p><span class="discount" style="color: #FF4655;">R$85,00</span></p>
    </div>
  </div>



  <div class="accessories-container2">
    <div class="fundo">
      <img src="../images/keycap-reyna.png" alt="">
      <p>29 KEYCAPS REYNA</p>
      <p><span class="original-price"><strike>R$100,00</strike></span></p>
      <p><span class="discount"style="color: #FF4655;">R$85,00</span></p>
    </div>

    <div class="fundo">
      <img src="../images/keycap-omen.png" alt="">
      <p>29 KEYCAPS OMEN</p>
      <p><span class="price">R$100,00</span></p>
    </div>

    <div class="fundo">
      <img src="../images/keycap-valorant.png" alt="">
      <p>3 KEYCAPS VALORANT</p>
      <p><span class="price">R$70,00</span></p>
    </div>
  </div>

</main>
</body>

</html>