<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Clothes</title>
</head>
<body>
<header>
    <h4>Frete grátis para todo o Brasil!</h4>

    <nav>
        <div>
            <a href="index.html"><img src="../images/logo.png"></a>
            <a href="promotions.html">PROMOÇÕES</a>
            <a href="clothes.html"><span class="current-page">ROUPAS</span></a>
            <a href="accessories.html">ACESSÓRIOS</a>
            <a href="accessories-for-pc.html">ACESSÓRIOS P/PC</a>
            <a href="about_us.html">SOBRE NÓS</a>

            <label><input></label>

            <a>minha conta</a>
            <a href="http://localhost:63342/GamerUniverse-WEB/Login/templates/login.html?_ijt=vcjjos9k48gpv9jeqh95m62j63&_ij_reload=RELOAD_ON_SAVE">ENTRAR </a>
            <a href="http://localhost:63342/GamerUniverse-WEB/Login/templates/register.html">CADASTRAR</a>
            <a><img src="../images/heart-button.png"></a>
            <a><img src="../images/support-button.png"></a>
            <a><img src="../images/shopping-cart-button.png"></a>
        </div>
    </nav>
</header>

<main>
    <div>
        <div>
            <img src="../images/camiseta-val-agentes.png">
            <p>CAMISETA VALORANT AGENTES</p>
            <p><spanR class="price">R$50,00</spanR></p>
        </div>

        <div>
            <img src="../images/camiseta-viper.png">
            <p>CAMISETA VIPER</p>
            <p><spanR class="price">R$50,00</spanR></p>
        </div>

        <div>
            <img src="../images/camiseta-gekko.png">
            <p>CAMISETA GEKKO</p>
            <p><spanR class="original-price">R$50,00</spanR></p>
            <p><spanR class="discount">R$40,00</spanR></p>
        </div>

        <div>
            <img src="../images/moletom-jett.png">
            <p>MOLETOM JETT</p>
            <p><spanR class="price">R$120,00</spanR></p>
        </div>

        <div>
            <img src="../images/camiseta-cypher.png">
            <p>CAMISETA CYPHER</p>
            <p><spanR class="price">R$50,00</spanR></p>
        </div>

        <div>
            <img src="../images/camiseta-omen.png">
            <p>CAMISETA OMEN</p>
            <p><spanR class="price">R$50,00</spanR></p>
        </div>

        <div>
            <img src="../images/touca-killjoy.png">
            <p>TOUCA KILLJOY</p>
            <p><spanR class="original-price">R$30,00</spanR></p>
            <p><spanR class="discount">R$25,00</spanR></p>
        </div>

        <div>
            <img src="../images/camiseta-killjoy.png">
            <p>CAMISETA KILLJOY</p>
            <p><spanR class="price">R$50,00</spanR></p>
        </div>
    </div>
</main>

</body>
</html>