<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Clothes</title>
    <link rel="stylesheet" href="../style/clothes.css">
</head>
<body>
<header>
    <h4>Frete grátis para todo o Brasil!</h4>


    <nav class="nav-bar">
        <div class="nav-items">

            <div class="itens-action">
                <ul class="itens1">
                    <li><a href="index.html"><img src="../images/logo.png" alt=""></a></li>
                    <li><a href="promotions.html">PROMOÇÕES</a></li>
                    <li><a href="clothes.html" class="current-page"
                    >ROUPAS</a></li>
                    <li><a href="accessories.html">ACESSÓRIOS</a></li>
                    <li><a href="accessories-for-pc.html">ACESSÓRIOS P/PC</a></li>
                    <li><a href="about_us.html" >SOBRE NÓS</a></li>
                    <li><label><input></label></li>
                </ul>
                <div class="itens-direito">
                    <ul class="itens2">
                        <li><a><img src="../images/account-button.png"></a></li>
                        <li><a ><img style="width: 40px;height: 40px;" src="../images/heart-button.png" alt=""></a></li>
                        <li><a><img src="../images/support-button.png" alt=""></a></li>
                        <li><a><img src="../images/shopping-cart-button.png" alt=""></a></li>
                    </ul>

                    <ul class="itens3">
                        <li ><a style="margin-left: 15px;" >MINHA CONTA</a></li>
                        <li ><a style="text-decoration: none;color: black;" href="../../Login/templates/login.html">ENTRAR/CADASTRAR</a></li>

                    </ul>
                </div>
            </div>
        </div>
        </div>
    </nav>
</header>
</header>

<main>
    <div class="clothes-container">
        <div class="fundo">
            <img src="../images/camiseta-val-agentes.png" alt="">
            <p>CAMISETA VALORANT AGENTES</p>
            <p><span class="price">R$50,00</span></p>
        </div>

        <div class="fundo">
            <img src="../images/camiseta-viper.png" alt="">
            <p>CAMISETA VIPER</p>
            <p><span class="price">R$50,00</span></p>
        </div>

        <div class="fundo">
            <img src="../images/camiseta-gekko.png" alt="">
            <p>CAMISETA GEKKO</p>
            <p><span class="original-price"> ̶<strike>R$50,00</strike></span></p>
            <p><span class="discount" style="color: #FF4655;"> R$40,00</span></p>
        </div>

        <div class="fundo">
            <img src="../images/moletom-jett.png" alt="">
            <p>MOLETOM JETT</p>
            <p><span class="price">R$120,00</span></p>
        </div>

        <div class="fundo">
            <img src="../images/camiseta-cypher.png" alt="">
            <p>CAMISETA CYPHER</p>
            <p><span class="price">R$50,00</span></p>
        </div>

        <div class="fundo">
            <img src="../images/camiseta-omen.png" alt="">
            <p>CAMISETA OMEN</p>
            <p><span class="price">R$50,00</span></p>
        </div>
    </div>

    <div class="clothes-container2">
        <div class="fundo">
            <img src="../images/touca-killjoy.png" alt="">
            <p>TOUCA KILLJOY</p>
            <p><span class="original-price"><strike>R$30,00</strike></span></p>
            <p><span class="discount" style="color: #FF4655;">R$25,00</span></p>
        </div>

        <div class="fundo"style="margin-left: 25px;">
            <img src="../images/camiseta-killjoy.png" alt="" >
            <p>CAMISETA KILLJOY</p>
            <p><span class="price">R$50,00</span></p>
        </div>
    </div>
</main>

</body>
</html>