<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Clothes</title>
    <link rel="stylesheet" href="../style/clothes.css">
</head>
<body>
<header>
    <h4>Frete grátis para todo o Brasil!</h4>

    <nav class="nav-bar">
        <div class="nav-items">
            <a href="index.html"><img src="../images/logo.png" alt=""></a>
            <a href="promotions.html">PROMOÇÕES</a>
            <a href="clothes.html"><span class="current-page">ROUPAS</span></a>
            <a href="accessories.html">ACESSÓRIOS</a>
            <a href="accessories-for-pc.html">ACESSÓRIOS P/PC</a>
            <a href="about_us.html">SOBRE NÓS</a>

            <label><input></label>

            <a>minha conta</a>
            <a href="../../Login/templates/login.html">ENTRAR </a>
            <a href="../../Login/templates/register.html">CADASTRAR</a>
            <a><img src="../images/heart-button.png" alt=""></a>
            <a><img src="../images/support-button.png" alt=""></a>
            <a><img src="../images/shopping-cart-button.png" alt=""></a>
        </div>
    </nav>
</header>

<main>
    <div class="clothes-container">
        <div class="fundo">
            <img src="../images/camiseta-val-agentes.png" alt="">
            <p>CAMISETA VALORANT AGENTES</p>
            <p><span class="price">R$50,00</span></p>
        </div>

        <div class="fundo">
            <img src="../images/camiseta-viper.png" alt="">
            <p>CAMISETA VIPER</p>
            <p><span class="price">R$50,00</span></p>
        </div>

        <div class="fundo">
            <img src="../images/camiseta-gekko.png" alt="">
            <p>CAMISETA GEKKO</p>
            <p><span class="original-price">R$50,00</span></p>
            <p><span class="discount">R$40,00</span></p>
        </div>

        <div class="fundo">
            <img src="/Home/images/moletom-jett.png" alt="">
            <p>MOLETOM JETT</p>
            <p><span class="price">R$120,00</span></p>
        </div>

        <div class="fundo">
            <img src="../images/camiseta-cypher.png" alt="">
            <p>CAMISETA CYPHER</p>
            <p><span class="price">R$50,00</span></p>
        </div>

        <div class="fundo">
            <img src="../images/camiseta-omen.png" alt="">
            <p>CAMISETA OMEN</p>
            <p><span class="price">R$50,00</span></p>
        </div>

        <div class="fundo">
            <img src="../images/touca-killjoy.png" alt="">
            <p>TOUCA KILLJOY</p>
            <p><span class="original-price">R$30,00</span></p>
            <p><span class="discount">R$25,00</span></p>
        </div>

        <div class="fundo">
            <img src="../images/camiseta-killjoy.png" alt="">
            <p>CAMISETA KILLJOY</p>
            <p><span class="price">R$50,00</span></p>
        </div>
    </div>
</main>

</body>
</html>