<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="../style/index.css">
</head>
<body>
<header>
    <h4>Frete grátis para todo o Brasil!</h4>

    <nav class="nav-bar">
        <div class="nav-items">

            <div class="itens-action">
                <ul class="itens1">
                    <li><a href="index.html" class="current-page"
                    ><img src="../images/logo.png" alt=""></a></li>
                    <li><a href="promotions.html">PROMOÇÕES</a></li>
                    <li><a href="clothes.html">ROUPAS</a></li>
                    <li><a href="accessories.html">ACESSÓRIOS</a></li>
                    <li><a href="accessories-for-pc.html">ACESSÓRIOS P/PC</a></li>
                    <li><a href="about_us.html">SOBRE NÓS</a></li>
                    <li><label><input></label></li>
                </ul>
                <div class="itens-direito">
                    <ul class="itens2">
                        <li><a><img src="../images/account-button.png"></a></li>
                        <li><a ><img style="width: 40px;height: 40px;" src="../images/heart-button.png" alt=""></a></li>
                        <li><a><img src="../images/support-button.png" alt=""></a></li>
                        <li><a><img src="../images/shopping-cart-button.png" alt=""></a></li>
                    </ul>

                    <ul class="itens3">
                        <li ><a style="margin-left: 15px;" >MINHA CONTA</a></li>
                        <li ><a style="text-decoration: none;color: black;" href="../../Login/templates/login.html">ENTRAR/CADASTRAR</a></li>
                    </ul>
                </div>
            </div>
        </div>
        </div>
    </nav>
</header>

<main>
    <section>
        <div class="fundo">
            <div class="introduction">
                <h3>BEM VINDO (A) À GAMER UNIVERSE!!</h3>
                <p>
                    O destino definitivo para todos os aficionados por Valorant e amantes dos jogos!
                    Somos mais do que uma loja virtual, somos uma plataforma criada por gamers, para gamers.
                    Aqui, celebramos a paixão pelo universo de Valorant e oferecemos uma ampla variedade de produtos
                    cuidadosamente selecionados, todos inspirados no emocionante mundo do jogo.
                </p>
            </div>
        </div>

        <div class="benefits">
            <div class="fundo-1">
                <div class="benefit-item">
                    <img src="../images/cupom-desconto.png" alt="">
                    <p>CUPOM DE 5% NA PRIMEIRA COMPRA</p>
                </div>
            </div>

            <div class="fundo-1">
                <div class="benefit-item">
                    <img src="../images/parcelamento.png" alt="">
                    <p>PARCELAMENTO 3X SEM JUROS</p>
                </div>
            </div>

            <div class="fundo-1">
                <div class="benefit-item">
                    <img src="../images/frete.png" alt="">
                    <p>FRETE GRÁTIS EM TODO O BRASIL</p>
                </div>
            </div>
        </div>

        <div class="category">
            <p class="paragraph">CATEGORIAS</p>
        </div>
    </section>

    <section>
        <div class="category-container">
            <div class="fundo-2">
                <div>
                    <img src="../images/roupas-modelo.png" alt="">
                    <a href="clothes.html">ROUPAS</a>
                </div>
            </div>

            <div class="fundo-2">
                <div>
                    <img src="../images/acessorios-modelo.png" alt="">
                    <a href="accessories.html">ACESSÓRIOS</a>
                </div>
            </div>

            <div class="fundo-2">
                <div>
                    <img src="../images/acessorio-pc.png" alt="">
                    <a href="accessories-for-pc.html">ACESSÓRIO P/PC</a>
                </div>
            </div>
        </div>
    </section>
</main>

</body>
</html>