<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<header>
    <h4>Frete grátis para todo o Brasil!</h4>

    <nav>
        <div>
            <a href="promotions.html">PROMOÇÕES</a>
            <a href="clothes.html">ROUPAS</a>
            <a href="accessories.html">ACESSÓRIOS</a>
            <a href="accessories-for-pc.html">ACESSÓRIOS P/PC</a>
            <a href="about_us.html">SOBRE NÓS</a>

            <label><input></label>

            <a>minha conta</a>
            <a href="http://localhost:63342/GamerUniverse-WEB/Login/templates/login.html?_ijt=vcjjos9k48gpv9jeqh95m62j63&_ij_reload=RELOAD_ON_SAVE">ENTRAR </a>
            <a href="http://localhost:63342/GamerUniverse-WEB/Login/templates/register.html">CADASTRAR</a>
            <a><img src="../images/heart-button.png"></a>
            <a><img src="../images/support-button.png"></a>
            <a><img src="../images/shopping-cart-button.png"></a>
        </div>
    </nav>
</header>

<main>
    <section>
        <div>
            <h3>BEM VINDO (A) À GAMER UNIVERSE!!</h3>
            <p>
                O destino definitivo para todos os aficionados por Valorant e amantes dos jogos!
                Somos mais do que uma loja virtual, somos uma plataforma criada por gamers, para gamers.
                Aqui, celebramos a paixão pelo universo de Valorant e oferecemos uma ampla variedade de produtos
                cuidadosamente selecionados, todos inspirados no emocionante mundo do jogo.
            </p>
        </div>

        <div>
            <div>
                <img src="../images/cupom-desconto.png">
                <p>CUPON DE 5% NA PRIMEIRA COMPRA</p>
            </div>

            <div>
                <img src="../images/parcelamento.png">
                <p>PARCELAMENTO EM ATÉ 3X SEM JUROS</p>
            </div>

            <div>
                <img src="../images/frete.png">
                <p>FRETE GRÁTIS PARA TODO O BRASIL</p>
            </div>

            <div>
                <p>CATEGORIAS</p>
            </div>
        </div>
    </section>

    <section>
        <div>
            <div>
                <img src="../images/roupas-modelo.png">
                <a href="clothes.html">ROUPAS</a>
            </div>

            <div>
                <img src="../images/acessorios-modelo.png">
                <a>ACESSÓRIOS</a>
            </div>

            <div>
                <img src="../images/acessorio-pc.png">
                <a>ACESSÓRIO P/PC</a>
            </div>
        </div>
    </section>
</main>

</body>
</html>