<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<header>
    <h4>Frete grátis para todo o Brasil!</h4>

    <nav>
        <div>
            <a href="index.html"><img src="/Home/images/logo.png" alt=""></a>
            <a href="promotions.html">PROMOÇÕES</a>
            <a href="clothes.html">ROUPAS</a>
            <a href="accessories.html">ACESSÓRIOS</a>
            <a href="accessories-for-pc.html">ACESSÓRIOS P/PC</a>
            <a href="about_us.html">SOBRE NÓS</a>

            <label><input></label>

            <a>minha conta</a>
            <a href="/Login/templates/login.html">ENTRAR </a>
            <a href="/Login/templates/register.html">CADASTRAR</a>
            <a><img src="/Home/images/heart-button.png" alt=""></a>
            <a><img src="/Home/images/support-button.png" alt=""></a>
            <a><img src="/Home/images/shopping-cart-button.png" alt=""></a>
        </div>
    </nav>
</header>

<main>
    <section>
        <div>
            <h3>BEM VINDO (A) À GAMER UNIVERSE!!</h3>
            <p>
                O destino definitivo para todos os aficionados por Valorant e amantes dos jogos!
                Somos mais do que uma loja virtual, somos uma plataforma criada por gamers, para gamers.
                Aqui, celebramos a paixão pelo universo de Valorant e oferecemos uma ampla variedade de produtos
                cuidadosamente selecionados, todos inspirados no emocionante mundo do jogo.
            </p>
        </div>

        <div>
            <div>
                <img src="/Home/images/cupom-desconto.png" alt="">
                <p>CUPON DE 5% NA PRIMEIRA COMPRA</p>
            </div>

            <div>
                <img src="/Home/images/parcelamento.png" alt="">
                <p>PARCELAMENTO EM ATÉ 3X SEM JUROS</p>
            </div>

            <div>
                <img src="/Home/images/frete.png" alt="">
                <p>FRETE GRÁTIS PARA TODO O BRASIL</p>
            </div>

            <div>
                <p>CATEGORIAS</p>
            </div>
        </div>
    </section>

    <section>
        <div>
            <div>
                <img src="/Home/images/roupas-modelo.png" alt="">
                <a href="clothes.html">ROUPAS</a>
            </div>

            <div>
                <img src="/Home/images/acessorios-modelo.png" alt="">
                <a href="accessories.html">ACESSÓRIOS</a>
            </div>

            <div>
                <img src="/Home/images/acessorio-pc.png" alt="">
                <a href="accessories-for-pc.html">ACESSÓRIO P/PC</a>
            </div>
        </div>
    </section>
</main>

</body>
</html>