<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Promotions</title>
</head>
<body>
<header>
    <h4>Frete grátis para todo o Brasil!</h4>

    <nav>
        <div>
            <a href="index.html"><img src="../images/logo.png"></a>
            <a href="promotions.html"><span class="current-page">PROMOÇÕES</span></a>
            <a href="clothes.html">ROUPAS</a>
            <a href="accessories.html">ACESSÓRIOS</a>
            <a href="accessories-for-pc.html">ACESSÓRIOS P/PC</a>
            <a href="about_us.html">SOBRE NÓS</a>

            <label><input></label>

            <a>minha conta</a>
            <a href="http://localhost:63342/GamerUniverse-WEB/Login/templates/login.html?_ijt=vcjjos9k48gpv9jeqh95m62j63&_ij_reload=RELOAD_ON_SAVE">ENTRAR </a>
            <a href="http://localhost:63342/GamerUniverse-WEB/Login/templates/register.html">CADASTRAR</a>
            <a><img src="../images/heart-button.png"></a>
            <a><img src="../images/support-button.png"></a>
            <a><img src="../images/shopping-cart-button.png"></a>
        </div>
    </nav>
</header>

<main>
    <div>
        <div>
            <img src="../images/keycap-raze.png">
            <p>29 KEYCAPS RAZE</p>
            <p><spanR class="original-price">R$100,00</spanR></p>
            <p><spanR class="discount">R$85,00</spanR></p>
        </div>

        <div>
            <img src="../images/camiseta-gekko.png">
            <p>CAMISETA GEKKO</p>
            <p><spanR class="original-price">R$50,00</spanR></p>
            <p><spanR class="discount">R$40,00</spanR></p>

        </div>

        <div>
            <img src="../images/brinco-sage.png">
            <p>BRINCO SAGE</p>
            <p><spanR class="original-price">R$35,00</spanR></p>
            <p><spanR class="discount">R$25,00</spanR></p>
        </div>

        <div>
            <img src="../images/colar-jett.png">
            <p>COLAR JETT</p>
            <p><spanR class="original-price">R$50,00</spanR></p>
            <p><spanR class="discount">R$40,00</spanR></p>
        </div>

        <div>
            <img src="../images/touca-killjoy.png">
            <p>TOUCA KILLJOY</p>
            <p><spanR class="original-price">R$30,00</spanR></p>
            <p><spanR class="discount">R$25,00</spanR></p>
        </div>

        <div>
            <img src="../images/keycap-killjoy.png">
            <p>29 KEYCAPS KILLJOY</p>
            <p><span class="original-price">R$100,00</span></p>
            <p><span class="discount">R$85,00</span></p>
        </div>

        <div>
            <img src="../images/keycap-reyna.png">
            <p>29 KEYCAPS REYNA</p>
            <p><span class="original-price">R$100,00</span></p>
            <p><span class="discount">R$85,00</span></p>
        </div>

    </div>
</main>
</body>
</html>