<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Promotions</title>
</head>
<body>
<header>
    <h4>Frete grátis para todo o Brasil!</h4>

    <nav>
        <div>
            <a href="index.html"><img src="/Home/images/logo.png" alt=""></a>
            <a href="promotions.html"><span class="current-page">PROMOÇÕES</span></a>
            <a href="clothes.html">ROUPAS</a>
            <a href="accessories.html">ACESSÓRIOS</a>
            <a href="accessories-for-pc.html">ACESSÓRIOS P/PC</a>
            <a href="about_us.html">SOBRE NÓS</a>

            <label><input></label>

            <a>minha conta</a>
            <a href="/Login/templates/login.html">ENTRAR </a>
            <a href="/Login/templates/register.html">CADASTRAR</a>
            <a><img src="/Home/images/heart-button.png" alt=""></a>
            <a><img src="/Home/images/support-button.png" alt=""></a>
            <a><img src="/Home/images/shopping-cart-button.png" alt=""></a>
        </div>
    </nav>
</header>

<main>
    <div>
        <div>
            <img src="/Home/images/keycap-raze.png" alt="">
            <p>29 KEYCAPS RAZE</p>
            <p><span class="original-price">R$100,00</span></p>
            <p><span class="discount">R$85,00</span></p>
        </div>

        <div>
            <img src="/Home/images/camiseta-gekko.png" alt="">
            <p>CAMISETA GEKKO</p>
            <p><span class="original-price">R$50,00</span></p>
            <p><span class="discount">R$40,00</span></p>

        </div>

        <div>
            <img src="/Home/images/brinco-sage.png" alt="">
            <p>BRINCO SAGE</p>
            <p><span class="original-price">R$35,00</span></p>
            <p><span class="discount">R$25,00</span></p>
        </div>

        <div>
            <img src="/Home/images/colar-jett.png" alt="">
            <p>COLAR JETT</p>
            <p><span class="original-price">R$50,00</span></p>
            <p><span class="discount">R$40,00</span></p>
        </div>

        <div>
            <img src="/Home/images/touca-killjoy.png" alt="">
            <p>TOUCA KILLJOY</p>
            <p><span class="original-price">R$30,00</span></p>
            <p><span class="discount">R$25,00</span></p>
        </div>

        <div>
            <img src="/Home/images/keycap-killjoy.png" alt="">
            <p>29 KEYCAPS KILLJOY</p>
            <p><span class="original-price">R$100,00</span></p>
            <p><span class="discount">R$85,00</span></p>
        </div>

        <div>
            <img src="/Home/images/keycap-reyna.png" alt="">
            <p>29 KEYCAPS REYNA</p>
            <p><span class="original-price">R$100,00</span></p>
            <p><span class="discount">R$85,00</span></p>
        </div>

    </div>
</main>
</body>
</html>