body, h4 {
    margin: 0;
}

header h4 {
    position: absolute;
    top: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}

header {
    display: flex;
    align-content: first baseline;
    background-color: #FF4655;
}