body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url("../../Login/images/fundo do login.png");
    background-repeat: no-repeat;
    background-size: 100% 100%; /* Faz a imagem de fundo cobrir todo o body */
    background-position: center; /* Centraliza a imagem de fundo */
}

nav  {
    display: inline-block;
    position: absolute;
    top: 35px;
    left: 100px;
    padding: 13px;
    background: rgba(255, 70, 85, 0.5);
    border-radius: 20px;
}

nav img {
    transform: scale(1.8);
    width: 100px;
    height: 100px;
}

.fundo {
    display: inline-block;
    padding: 20px 40px; /* Aumenta o preenchimento nas margens esquerda e direita */
    background: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
}

div {
    text-align: center;
}

div h1 {
    color: white;
}

.form-group {
    flex-direction: row;
    display: flex;
}

#numero{
    margin-right: 10px;
}


input[type="text"], input[type="password"] {
    width: 100%; /* Faz os campos de entrada ocuparem toda a largura da div */
    padding: 10px; /* Adiciona algum preenchimento aos campos de entrada */
    margin-bottom: 10px; /* Adiciona algum espaço abaixo dos campos de entrada */
    border: none;
    border-radius: 10px;
    background: rgba(0, 0, 0, 1);
    color: white; /* Muda a cor do texto para branco */
    font-weight: bold;
    opacity: 0.5
}

input[type="text"]::placeholder, input[type="password"]::placeholder {
    color: white; /* Muda a cor do placeholder para branco */
}

.link {
    display: block;
    margin-top: 20px;
    height: 40px;
    color: white; /* Muda a cor dos links para vermelho */
    text-decoration: none; /* Remove o sublinhado dos links */
    font-weight: bold;
}

.custom-button {
    background-color: #FF4655;
    color: #000000;
    padding: 10px 20px; /* Espaçamento interno do botão (topo/baixo e esquerda/direita) */
    border: none;
    border-radius: 27px;
    cursor: pointer;
    margin-top: 7px;
}