<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/login.css">
    <title>Login</title>
</head>
<body>
<header>
    <nav>
        <a href="../../Home/templates/index.html"><img src="../images/logo.png" alt="logo"></a>
    </nav>
</header>

<div class="fundo">
    <div>
        <h1>INICIAR SESSÃO</h1>
        <form>
            <label for="email"></label><input type="text" placeholder="EMAIL" id="email" name="email" required>
            <br><br>
            <label for="senha"></label><input type="password" placeholder="SENHA" id="senha" name="senha" required>
            <br><br>
            <button type="submit" class="custom-button">
                <img src="/Login/images/seta-direita 1.png" alt="Ícone de Entrar">
            </button>
        </form>

        <a class="link" href="recoverpassword.html">NÃO CONSEGUE FAZER LOGIN?</a>
        <a class="link" href="register.html">CRIAR CONTA</a>
    </div>
</div>
</body>
</html>
