<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/recoverpassword.css">
    <title>Login Problem</title>
</head>

<body>
<header>
    <nav>
        <div>
            <a href="../../Home/templates/index.html"><img src="../images/logo.png" alt=""></a>
        </div>
    </nav>
</header>

<div class="fundo">
    <h1>RECUPERAÇÃO DE SENHA</h1>
    <form>
        <label for="emailORtelefone"><input type="text" placeholder="EMAIL OU TELEFONE" id="emailORtelefone" name="emailORtelefone" required></label>
        <br><br>
        <button type="submit" class="custom-button" id="button">
            <img src="../images/seta-direita 1.png" alt="Ícone de Entrar">
        </button>
    </form>
</div>

<script src="../../Login/function/recoverpassword.js"></script>
</body>
</html>