<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Problem</title>
    <style>
        .custom-button {
            background-color: #FF4655;
            color: #000000;
            padding: 10px 20px;
            border: none;
            border-radius: 27px;
            cursor: pointer;
        }
    </style>
</head>

<body>
<header>
    <nav>
        <div>
            <a href="/Home/templates/index.html"><img src="/Login/images/logo.png"></a>
        </div>
    </nav>
</header>

<div>
    <h1>RECUPERAÇÃO DE SENHA</h1>
    <form>
        <input type="text" placeholder="EMAIL OU TELEFONE" id="emailORtelefone" name="emailORtelefone" required>
        <br><br>
        <button type="submit" class="custom-button">
            <img src="/Login/images/seta-direita 1.png" alt="Ícone de Entrar">
        </button>
    </form>
</div>

</body>
</html>