<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <style>
        .custom-button {
            background-color: #FF4655;
            color: #000000;
            padding: 10px 20px;
            border: none;
            border-radius: 27px;
            cursor: pointer;
        }

    </style>
</head>
<body>
<div>
    <h1>CRIAR UMA CONTA</h1>
    <form>

        <input type="text" placeholder="NOME" id="nome" name="nome" required>
        <br><br>
        <input type="text" id="cpf" name="cpf" placeholder="CPF" maxlength="11" required>
        <br><br>
        <input type="text" id="telefone" name="telefone" placeholder="TELEFONE" maxlength="14" required>
        <br><br>
        <input type="text" id="email" name="email" placeholder="EMAIL" required>
        <br><br>
        <input type="text" id="cep" name="cep" placeholder="CEP" maxlength="8" required>
        <br><br>
        <input type="text" id="numero" name="numero" placeholder="NÚMERO" required>
        <input type="text" id="complemento" name="complemento" placeholder="COMPLEMENTO">
        <br><br>
        <input type="password" id="senha" placeholder="SENHA" required>
        <br><br>
        <button type="submit" class="custom-button">
            <img src="../images/seta-direita 1.png" alt="Ícone de Entrar">
        </button>

    </form>

    <p><a href="login.html">JÁ POSSUI UMA CONTA? </a></p>

</div>

</body>
</html>